.hidden{display:none;}

body {
	background-repeat: repeat;
	background-image: url(../img/background-blue.jpg);
	color: #dbdbdb;
	text-align: left;
	font-size: 90%;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #2D535E;
}

a {
	border-width: 0px;
	color: #72a6e6;
	border-style: none;
	text-decoration: underline dotted;
}

a:hover {
	color: #0080ff;
}

#listofcontents {
	color: #9c9c9c;
	font-size: 106%;
	font-weight: normal; 
	text-decoration: none;
	margin-left: 70px;
	text-indent: -70px;
}

#listofcontents a {
	color: #dadada;
	text-decoration: none;
	font-weight: normal;
}

#listofcontents a:hover {
	color: #063638;
}

a.linkbutton  {	
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	color: #002f3a;
	border-style: none;
	text-decoration: none;
	background-color: #ababab;
}

a.linkbutton::after  {	
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
	margin: 0 3px 0 5px;
}

a.linkbutton:hover {	
	color: #ffffff;
	background-color: #002f3a;
}

.MainPageBox {
	line-height: 2.2em;
	font-size: 1em;
	float: none;
	clear: left;
	margin-top: 45px;
	margin-bottom: 0px;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

hr {
	margin-bottom: 30px;
	margin-top: 25px;
	clear: left;
	border-top: 1px dotted white;
	border-bottom: 0px none;
	background-color: none;
	width: 100%;
	float: clear;
}

/* Typoraphy */
p, ul, ol { padding-bottom: 0.7em; padding-top: 0em; margin-left: 0; margin-bottom: 0em; margin-right: 0; margin-top: 0px;}

h0 {font-size: 250%;}
h1 {font-size: 140%;}
h2 {font-size: 120%;}
h3 {font-weight: bold; font-size: 116%}
h4 {font-size: 106%}
h5 {font-size: 100%}
h6 {font-size: 96%}

/* Columns */

.contentBox {
    margin: 0 auto;
    width: 100%;
	padding-bottom: 0px;
	padding-left: 40px;
	margin-bottom: 30px;
}

.column {
    float: left;
    margin: 0;
    width: 32%;
}

.Para-Inset {
    margin: 0 auto;
    width: 100%;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.reset {
	float: none;
	clear: left;
	padding-top: 10px;
}




  
